.addSong {
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
    padding: 16px;
    background-color: #252525;
    background-image: url(../res/bgtexture.png);
    box-sizing: border-box;
    text-shadow: 0 -1px 0 #111;
    margin-bottom: 2em;
}
.addSong button {
    width: 100%;
    font-weight: bold;
}
@media (min-width: 768px) {
    .addSong .col-md-8 {
        padding-right: 1em;
    }
}
@media (max-width: 767px) {
    .addSong .col-md-8 {
        padding-bottom: 1em;
    }
}
.addSong form {
    display: contents;
}