<div id="footer" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="footer">
	<div id="login" sec:authorize="isAnonymous()">
		<span onclick="show(loginbox)" class="link">Login</span> <span
			class="link"><a th:href="@{/register/}">Registrieren</a></span>
		<div id="loginbox">
			<form method="post" th:action="@{/login}">
				<table>
					<tbody>
						<tr>
							<td colspan="2"></td>

							<td onclick="hide(loginbox);" onmouseover="pointer();"
								onmouseout="returncursor();">x</td>
						</tr>
						<tr>
							<td>Username:</td>
							<td><input type="text" name="user" /></td>
							<td></td>

						</tr>
						<tr>
							<td>Passwort:</td>
							<td><input type="password" name="password" /></td>
							<td></td>

						</tr>
						<tr>

							<td></td>
							<td><input class="button" type="submit" value="Einloggen" />

							</td>
							<td></td>


						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<th:block sec:authorize="isAuthenticated()">
		<div id="login">
			<div id="profilbild" class="tooltip">
				<img alt="profilbild" th:src="@{https://www.gravatar.com/avatar/{gid}(s=20,gid=${#authentication.principal.user.GravatarId},d='musikbot.elite12.de/res/img/favicon_small.png')}" />
				<div class="bordered"><img alt="profilbild" th:src="@{https://www.gravatar.com/avatar/{gid}(s=350,gid=${#authentication.principal.user.GravatarId},d='musikbot.elite12.de/res/favicon.png')}" /></div>
			</div>
			<form id="logoutform" th:action="@{/logout}" method="post">
			</form>
			<div class="userbar">
				Willkommen
				<a th:href="@{/user/{name}(name=${#authentication.principal.user.name})}" th:text="${#authentication.principal.user.name}"></a><span
					onclick="document.getElementById('logoutform').submit()"
					class="link">(Logout)</span>
					
			</div>
		</div>
	
				
		<div id="amenu">
			<span class="link" onclick="togglevis(amenubox)">Menü</span>
			<div id="amenubox">
				<ul>
					<li><a th:href="@{/}">Startseite</a></li>
					<li><a th:href="@{/archiv/}">Archiv</a></li>
					<li><a th:href="@{/statistik/}">Statistik</a></li>
					<li><a th:href="@{/tokens/}">Auth-Token</a></li>
					<th:block sec:authorize="hasRole('ROLE_admin')">
						<li><a th:href="@{/import/}">Playlist Importieren</a></li>
						<li><a th:href="@{/songs/}">Gesperrte Songs</a></li>
						<li><a th:href="@{/gapcloser/}">Gapcloser</a></li>
						<li><a th:href="@{/log/}">Log</a></li>
						<li><a th:href="@{/whoisonline/}">Wer ist online?</a></li>
						<li><a th:href="@{/debug/}">Entwicklermenü</a></li>
					</th:block>
				</ul>
			</div>
		</div>
	</th:block>
	
	<!--
		<div id="styleselect">
			<span class="link" onclick="togglevis(styleselectbox)">Style ändern</span>
			<div id="styleselectbox">
				<ul>
					<li><a href="/setstyle/radio">radio</a></li>
				</ul>
			</div>
		</div>
	 -->
	
	<span id="stats" class="link"><a th:href="@{/statistik/}">Statistik</a></span>
	
	<span id="impressum" class="link"><a th:href="@{https://datenschutz.elite12.de/}">Impressum/Disclaimer/Datenschutz</a></span>

	<div id="time" th:text="${#dates.format(#dates.createNow(), 'H:mm')}"></div>

	<div id="branding">
	</div>

	<div id="spotify">
		<img alt="spotify Logo" th:src="@{/res/img/spotify.svg}">
	</div>
	<div id="html5">
		<img alt="HTML5 Logo" th:src="@{/res/img/html5.svg}">
	</div>
	<div class="version" th:text="'v'+${version}"></div>
</div>