html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 1.0;
}

body {
	margin: 10px;
	padding: 0;
	color: #212121;
	background-color: #333; /*#272727;*/
	background-image: url(../img/noisy-texture-200x200.png);
}

input {
	outline: 0;
}

input[type="submit"] {
	padding: 4px 9px;
	border: 0;
	border-radius: 4px;
	
	text-align: center;
	vertical-align: middle;
	
	white-space: nowrap;
	line-height: 1.5em;
	font-size: 0.9em;
	font-weight: bold;
	text-shadow: 0 1px 0 #eee;
	
	-webkit-box-shadow: rgba(0,0,0,.4) 0 3px 6px;
	-moz-box-shadow: rgba(0,0,0,.4) 0 3px 6px;
	box-shadow: rgba(0,0,0,.4) 0 3px 6px;
	
	color: #333;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
	background-image: -moz-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
	background-image: -ms-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
	background-image: -o-linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
	background-image: linear-gradient(top, #eee, #bbb 70%, #9f9f9f 100% );
	background-position: 0 6px;
	background-repeat: no-repeat;
	
	cursor: pointer;
}

input[type="text"] {
	padding: 4px 5px;
	border: 1px solid #888;
	border-radius: 4px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	color: #555;
	background-color: #fff;
	line-height: 1.3;
	vertical-align: middle;
	text-shadow: none;
	font-size: 16px;
}

.currentsong {
	margin: 15px auto 16px auto;
	padding: 9px;
	overflow: hidden;
	background-color: #FFAB40;
	color: #965502;
	font-family: monospace;
	font-weight: bold;
	line-height: 1.2em;
	border: 1px solid #2a2a2a;
	border-radius: 6px;
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
	text-shadow: none;
}

.playlist table {
	width: 100%;
	box-sizing: border-box;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 1.5em;
	background-color: #B6B6B6;
	color: #212121;
	text-shadow: none;
	border-collapse: collapse;
}

.playlist table a {
	color: #555;
	text-decoration: none;
}

.playlist table th {
	text-align: center;
	background-color: #121212;
	color: #BDBDBD;
	line-height: 1.7em;
	font-weight: normal;
}

.playlist table th:first-child {
	width: 15%;
}

.playlist table td:first-child, .playlist table td:nth-child(2) {
	text-align: center;
}

.playlist table th:nth-child(2) {
	width: 25%;
}

.playlist table tr:last-child td {
	padding: 6px 6px 7px 6px;
	border-top: 1px solid #999;
	background-color: #aaa;
}

.playlist table tr:last-child:first-child td {
	border-top: none;
}

.playlist table input[type="submit"] {
	width: 28%;
	margin-left: 4px;
}

.playlist table input[type="text"] {
	width: 64%;
}