<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<body>
	<div layout:fragment="content">
		<div id="content">

		<div id="content2">

			<table class="bordered paginated" id="playlist">
				<thead>
					<tr>
						<th>Song ID</th>
						<th>Gespielt um</th>
						<th>Eingefügt von</th>
						<th>Titel</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
					<tr
						th:each="song : ${list}"
						class="songentry"
						th:classappend="${song.skipped} ? skipped"
						th:id="'song_'+${song.id}"
						th:title="${song.skipped} ? 'Dieses Lied wurde nicht bis zum Ende gespielt!'"
					>
					<td th:text="${song.id}" style="text-align: center"></td>
					<td th:text="${#dates.format(song.playedAt, 'dd.MM.yyyy - HH:mm:ss')}"></td>
					<td th:title="${#authorization.expression('hasRole(''ROLE_admin'')')} ? ${song.guestAuthor}">
						<a th:href="@{/user/{user}(user=${song.AuthorLink})}" th:text="${song.Author}"></a>
					</td>
					<td th:title="${song.title}" th:text="${#strings.abbreviate(song.title,60)}"></td>
					<td><a th:href="@{${song.link}}" th:text="${song.link}" target="_blank"></a></td>
					</tr>
				</tbody>
			</table>
			<div class="pager">
				<a href="/archiv/">First</a>
				<a th:each="i : ${#numbers.sequence(page-3,page-1)}" th:href="@{/archiv/(p=${i})}" th:text="${i}" th:if="0 < ${i} and ${i} <= ${total}"></a>
				<a class="currentpage" th:href="@{/archiv/(p=${page})}" th:text="${page}"></a>
				<a th:each="i : ${#numbers.sequence(page+1,page+3)}" th:href="@{/archiv/(p=${i})}" th:text="${i}" th:if="0 < ${i} and ${i} <= ${total}"></a>
				<a th:href="@{/archiv/(p=${total})}">Last</a>
			</div>
		</div>
	</div>
	</div>
</body>
</html>