<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<body>
	<div layout:fragment="content">
		<div id="content">

			<div id="content2">
				<form id="debug" class="bordered" action="#">
					<ul>
						<li><input type="submit" value="Client Neustarten" th:onclick="'event.preventDefault();$.post(\''+@{/api/debug/client}+'\');'"></input></li>
						<li><input type="submit" value="Server Neustarten" th:onclick="'event.preventDefault();$.post(\''+@{/api/debug/server}+'\');'"></input></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</body>
</html>