<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/default">
<body>
    <div layout:fragment="content">
        <div id="content">

        <div id="content2">
            <div class="bordered gapcloser">
                <div class="headline">Gapcloser - Einstellungen</div>
                <form id="gapcloserform" method="post" th:action="@{/gapcloser}" th:object="${settings}" >
                    <th:block th:each="mode : ${modes}">
                        <input type="radio" th:field="*{mode}" th:value="${mode}" /> <label th:text="${mode}"></label><br>
                    </th:block>
                    Playlist: <input type="text" th:field="*{playlist}"></input><br>
                    <input type="submit" value="Speichern"></input>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>