<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<body>
	<div layout:fragment="content">
		<div id="content">

		<div id="content2">
			<form method="post" th:action="@{/import/}">
				<div id="import_list" class="bordered">
					<div id="headline">
						Import der Playlist: <a
							th:href="@{${link}}" th:text="${list.name}"></a>
					</div>

					<input
						type="hidden" name="playlist"
						th:value="${link}" />
					<table id="import_table">
						<thead>
							<tr>
								<th>Importieren?<input type="checkbox"
									onclick="var selected = this.checked;$(':checkbox').each(function () {    this.checked = selected; });"
									checked="checked" /></th>
								<th>Nr.</th>
								<th>Name</th>
								<th>Link</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry,iterStat : ${list.entrys}">
								<td><input type="checkbox" name="pimport"
									th:value="${iterStat.index}" checked /></td>
								<td th:text="${iterStat.count}"></td>
								<td th:text="${entry.name}"></td>
								<td><a th:href="@{${entry.link}}" th:text="${entry.link}"></a></td>
							</tr>
						</tbody>
					</table>
					<input class="import-submit" type="submit" name="sub" value="Senden" />
				</div>
			</form>
		</div>
	</div>
	</div>
</body>
</html>