<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layouts/default">
<head>
<th:block layout:fragment="script">
	<script type="text/javascript">
		function start() {
			if (typeof update == 'function') {
				setInterval(function() {
					update()
				}, 8000);
				[[${#authorization.expression('hasRole(''ROLE_admin'')')} ? 'initdnd();']]
			} else {
				window.setTimeout(start, 1000);
			}
		}
		start();
	</script>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div id="content">

			<div id="content2">

				<div id="currentsong" class="bordered">
					<div id="state" th:text="${state}"></div>
					<div id="playlistdauer">
						Die aktuelle Playlist umfasst <span th:text="${duration/60}"></span> Minuten Musik!
					</div>
					<div
						th:class="${link}? 'link'"
						th:title="${title}" id="songtitle"
						> 
						<a th:if="${link}" th:href="${link}" th:text="${title}"></a> 
						<span th:unless="${link}">Kein Song!</span>
					</div>
				</div>

				<div id="control" sec:authorize="hasRole('ROLE_admin')">
					<table>
						<tbody>
							<tr>
								<td><input type="button" name="action" value="Start"
									onclick='$.ajax({url: "/api/control/start",	method: "POST",	headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});' />
								</td>
								<td><input type="button" name="action" value="Pause"
									onclick='$.ajax({url: "/api/control/pause",	method: "POST",	headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});' />
								</td>
								<td><input type="button" name="action" value="Stop"
									onclick='$.ajax({url: "/api/control/stop",	method: "POST",	headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});' />
								</td>
								<td><input type="button" name="action" value="Skip"
									onclick='$.ajax({url: "/api/control/skip",	method: "POST",	headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});' />
								</td>
							</tr>
						</tbody>
					</table>
				</div>



				<form id="pform">
					<input sec:authorize="hasRole('ROLE_admin')" type="hidden" name="action" value="delete" />
					<table class='bordered' th:classappend="${#authorization.expression('hasRole(''ROLE_admin'')')} ? 'admin' : _" th:id="playlist">
						<thead>
							<tr>
								<th>Song ID</th>
								<th>Eingefügt am</th>
								<th>Eingefügt von</th>
								<th>Titel</th>
								<th>Link</th>
								<th sec:authorize="hasRole('ROLE_admin')" onclick="$('INPUT[type=\'checkbox\']').each( function() {$(this).attr('checked', !$(this).attr('checked'));});">Löschen?</th>
							</tr>
						</thead>
						<tbody>
							<tr class="songentry" th:each="song: ${playlist}" th:id="'song_'+${song.id}">
								<td style="text-align: center" th:class="${#authorization.expression('hasRole(''ROLE_admin'')')} ? 'draghandle' : _" th:text="${song.id}"></td>
								<td th:text="${#dates.format(song.insertedAt, 'dd.MM.yyyy - HH:mm:ss')}"></td>
								<td th:title="${#authorization.expression('hasRole(''ROLE_admin'')')} ? ${song.guestAuthor}">
									<img
										alt="pb_playlist"
										th:src="@{https://www.gravatar.com/avatar/{gid}(gid=${song.GravatarId},s=20,d='musikbot.elite12.de/img/favicon_small.png')}"
									/>
									<a th:href="@{/user/{user}(user=${song.AuthorLink})}" th:text="${song.Author}"></a>
								</td>
								<td th:title="${song.title}" th:text="${#strings.abbreviate(song.title,60)} "></td>
								<td><a th:href="@{${song.link}}" th:text="${song.link}" target="_blank"></a></td>
								<td sec:authorize="hasRole('ROLE_admin')">
									<input type="checkbox" name="song" th:value="${song.id}" />
								</td>
							</tr>
						</tbody>
					</table>
					<div id="archivlink" class="link">
						<a th:href="@{/archiv/}">Zum Archiv</a>
					</div>
					<th:block sec:authorize="hasRole('ROLE_admin')">
						<input id="deletebutton"
							type="button" value="Löschen"
							onclick='var a = "";$("input[type=checkbox]:checked").each(function (data){a=a+"/"+$(this).val()});$.ajax({url: "/api/songs"+a,	method: "DELETE",	headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});' />
						<input id="deleteandlockbutton" type="button"
							value="Löschen und Sperren"
							onclick='var a = "";$("input[type=checkbox]:checked").each(function (data){a=a+"/"+$(this).val()});$.ajax({url: "/api/songs"+a+"?lock=true",  method: "DELETE",   headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});' />
						<input id="shufflebutton" type="button" name="action"
							value="Shuffle"
							onclick='$.ajax({url: "/api/control/shuffle",	method: "POST",	headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});' />
					</th:block>
				</form>
			</div>
		</div>
		

		<div id="form" class="bordered">
			<form>
				<table>
					<tbody>
						<tr>
							<td>
								<input type="text" name="link"
									onKeyPress='if(event.keyCode == 13){$("#submit").trigger("click");}return event.keyCode != 13;'
									autocomplete="off" autofocus />
							</td>
							<td>
								<input id="submit" type="button" name="Button"
									value="Abschicken"
									onclick='$.ajax({url: "/api/songs",	data:$("input[name=link]").val(),	method: "POST",	headers: {"Authorization": (typeof authtoken !== "undefined")?authtoken:""},contentType: false}).done(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()}).fail(function(data,textStatus,jqXHR) {handleAPIResponse(data,textStatus,jqXHR);update()});$("input[name=link]").val("");' />
							</td>
						</tr>
					</tbody>
				</table>

			</form>
		</div>
	</div>
</body>
</html>