<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<body>
	<div layout:fragment="content">
		<div id="content">

		<div id="content2">
			<form th:action="@{/songs/}" method="post">
				<input type="hidden" name="action" value="delete" />
				<table class="bordered banned" id="playlist">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>VID</th>
							<th>Löschen?</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="song : ${songs}">
							<td th:text="${song.id}"></td>
							<td th:text="${song.title}"></td>
							<td th:text="${song.url}"></td>
							<td><input type="checkbox" name="song"
								th:value="${song.id}" /></td>
						</tr>
					</tbody>
				</table>
				<input id="deletebutton" type="submit" value="Löschen">
			</form>
			<form id="bansong" class="bordered" method="post" th:action="@{/songs/}">
				<input type="hidden" name="action" value="add" /> Song: <input
					type="text" name="song" /> <input id="" type="submit" name="sub"
					value="Sperren" />
			</form>
		</div>
	</div>
	</div>
</body>
</html>