.Status {
    padding: 9px;
    background-color: #FFAB40;
    color: #965502;
    font-family: monospace;
    font-weight: bold;
    border: 1px solid #2a2a2a;
    border-radius: 6px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: none;
    font-size: 14px;
}
.Status .row:first-child{
    text-transform: uppercase;
}
.Status a {
    color: #fff;
}
.Control {
    margin-top: 1em;
    line-height: 1.5em;
}
.Control .col {
    padding:0px;
}
.Control .col:first-child button {
    border-radius: 4px 0 0 4px;
}
.Control .col:last-child button {
    border-radius: 0 4px 4px 0;
    border-right: 0;
}
.Control button {
    width: 100%;
    color: #333!important;
    text-shadow: 0 1px 0 #eee;
    display: inline-block;
    margin: 0;
    padding: 6px 0;
    border-radius: 0;
    border: none;
    border-right: 1px solid #666;
    box-shadow: none!important;
    font-size: 1em!important;
    background-color: #eee!important;
    background-image: linear-gradient(#eee, #bbb 70%, #9f9f9f 100% );
    background-position: 0 6px;
    background-repeat: no-repeat;
    box-shadow: rgba(0,0,0,.4) 0 3px 6px!important;
    border-color: initial!important;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.Control button:hover {
    background-position: 0;
    color: #333!important;
    transition: all .1s ease-in;
    box-shadow: rgba(0,0,0,.4) 0 3px 6px!important;
    border-color: initial!important;
    background-color: #eee!important;
}
.Control button:focus {
    box-shadow: rgba(0,0,0,.4) 0 3px 6px!important;
    border-color: initial!important;
    background-color: #eee!important;
    color: #333!important;
}
.Control button:active {
    box-shadow: inset rgba(0,0,0,.5) 0px 5px 10px!important;
    border-color: initial!important;
    background-color: #eee!important;
    color: #333!important;
    transition: none;
}

.song {
    white-space: nowrap;
    background-color: #B6B6B6;
    color: #212121;
    margin: 0;
}


.nolink a {
    color: #212121;
}

.nolink a:hover {
    color: #212121;
    text-decoration: none;
}
.deleteicon {
    cursor: pointer;
}
.react-autosuggest__suggestions-list {
    position: absolute !important;
    top: auto !important;
    padding:0;
    margin-top: 0.5rem;
    background-color: white;
    width: 35rem;
    text-overflow: ellipsis;
    list-style: none;
    overflow-y: auto;
    max-height: 20em;
    z-index: 100;
}
.ac-entry {
    position: relative;
    padding: 3px 1em 3px .4em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 38rem;
    overflow: hidden;
}
.ac-title {
    font-weight: bold;
}
.ac-link {
    padding-left: 1em;
}
.react-autosuggest__suggestion {
    cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}
.BottomControl {
    margin-top: 0.5rem;
}
.BottomControl button {
    font-weight: bold;
}
.BottomControl a {
    color: #9E9E9E;
}
.BottomControl a:hover {
    color: #9E9E9E;
}
.BottomControl .col-6 {
    padding: 0px;
}
.BottomControl .col-6:last-child * {
    float: right;
}
.dragging {
    background-color: #ffab40a1;
    display: table;
}
.lr-space {
    margin-left: 10px;
    margin-right: 10px;
}